html {
	font-size: 16px;
}

body {
	color: #7a7d81;
}

a:hover {
	text-decoration: none;
}

.logo {
	height: 300px;
	width: 300px;
	margin: 106px 0;
}

#gallery {
	position: relative;
	width: 100%;
	max-width: inherit;
	overflow: hidden;
}

#gallery .photos {
	position: absolute;
	height: 100%;
	width: 12000px;
	background: transparent url(../img/100in1day_img3.jpg) repeat-x left top;
/*	background-size: cover;*/
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-animation: gallery 90s linear infinite;
	-moz-animation: gallery 90s linear infinite;
	-ms-animation: gallery 90s linear infinite;
	animation: gallery 90s linear infinite;
	z-index: 0;
}

#gallery .mix {
	position: relative;
	z-index: 3;
}

#header {
	padding: 40px 0;
	width: 100%;
	background-color: #F36026;
	color: #fff;
}

.meta span {
	display: inline-block;
	vertical-align: middle;
	margin: 6px 30px;
}

img {
	max-height: 100%;
	max-width: 100%;
}

img.img-round {
	border-radius: 50%;
}

section {
	text-align: center;
}

.kpi {
	color: #fff;
	font-size: 1.5rem;
}

.kpi .action {
	margin-left: 2rem;
}

.kpi .big {
	color: #fff;
	font-size: 2.4em;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
	display: inline-block;
	margin: 1rem;
}

.section {
	margin-bottom: 7rem;
}

.person,
.project {
	margin-bottom: 5rem;
	text-align: left;
}

.shoutout {
	display: table;
	width: 100%;
	color: #fff;
}

.intro p {
	color: #fff;
	font-size: 1.125rem;
}

.shoutout .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	padding: 60px 0;
	background: transparent url('../img/20169d78dab5df0d3813b53dd47303cc5e7.jpg') no-repeat center top;
	background-size: cover;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.shoutout .text h3 {
	display: inline-block;
	vertical-align: middle;
	padding: 23px 0;
	margin: 22px auto;
	min-width: 44%;
	font-size: 50px;
	color: #fff;
	font-family: "Lodgecode", "Helvetica Neue", helvetica, sans-serif;
	text-transform: uppercase;
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.shoutout .text p {
	padding: 0 20px;
}

.shoutout .text a {
	color: #fff;
	text-decoration: underline;
	font-weight: bold;
}

h2 {
	display: inline-block;
	vertical-align: middle;
	font-size: 2rem;
	margin: 3rem auto 4rem auto;
	padding: 0 0.8rem;
	color: #3a3a47;
	font-family: "Lodgecode", "Helvetica Neue", helvetica, sans-serif;
	text-transform: uppercase;
}

h2:after {
	content: "";
	display: block;
	margin: 8px 20px 0 20px;
	border-bottom: 1px solid #e7e9ea;
}

h4 {
	color: #3a3a47;
	font-size: 26px;
	margin: 20px 0 10px 0;
}

.support-logo {
	display: inline-block;
	height: 90px;
	width: auto;
	margin: 5px;
}

#map {
	width: 100%;
	height: 600px;
}

#map img {
	max-height: none;
	max-width: none;
}

.press li {
	font-size: 1.25rem;
}

.footer {
	background-color: #d0d0d0;
	color: #6D6D6D;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    border-top: 1px solid #6D6D6D;
	padding: 50px 10%;
}

.footer a {
    color: #3D3D3D;
    border-bottom: dotted 1px #6D6D6D;
}

.footer a.no_underline {
    border-bottom: 0;
}

@-webkit-keyframes gallery {
	0% {
		-moz-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		-moz-transform: translate3d(-4000px, 0, 0);
		-webkit-transform: translate3d(-4000px, 0, 0);
		transform: translate3d(-4000px, 0, 0);
	}
}

@-moz-keyframes gallery {
	0% {
		-moz-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		-moz-transform: translate3d(-4000px, 0, 0);
		-webkit-transform: translate3d(-4000px, 0, 0);
		transform: translate3d(-4000px, 0, 0);
	}
}

@-ms-keyframes gallery {
	0% {
		-moz-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		-moz-transform: translate3d(-4000px, 0, 0);
		-webkit-transform: translate3d(-4000px, 0, 0);
		transform: translate3d(-4000px, 0, 0);
	}
}

@keyframes gallery {
	0% {
		-moz-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		-moz-transform: translate3d(-4000px, 0, 0);
		-webkit-transform: translate3d(-4000px, 0, 0);
		transform: translate3d(-4000px, 0, 0);
	}
}