{% extends 'base.html' %}

{% block title %}主頁{% endblock %}

{% block body_content %}

<div class="loading-screen"></div>

<div class="main">
	<section id="gallery">
		<div class="photos"></div>

		<div class="mix">
			<img class="logo img-round" src="{{ app.asset_path }}/img/logo.png">
		</div>
	</section>

	<section id="header">
		<div class="kpi">
			<span class="idea"><span id="ideaCount" class="big">133</span>個意念</span>
			<span class="action"><span id="ideaCount2" class="big">33</span>個行動在街上發生</span>
		</div>

		<div class="meta">
			<span>Jan 23<sup>rd</sup>, 2016</span>
			<span class="action">荃灣 · 深水埗 · 葵青 · 將軍澳 · 觀塘 · 香港</span>
		</div>
	</section>

	<section id="about" class="shoutout intro">
		<div class="inner">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6 col-md-offset-3">
						<div class="text">
							<h3>關於 100In1Day</h3>
							<p>每年一度的100In1Day於2011年由一群在哥倫比亞首都波哥大讀書的大學生發起，行動一呼百應，足跡遍佈美洲、歐洲及非洲等20多個城市。</p>

							<p>100In1Day 是一個創意公民行動，每位參與的市民提出一個可以為自己所屬的社區帶來改變的小型行動，並在同一天一起上演。它有效動用市民的生活經驗、激發大家對社區的想像。</p>

							<p>100In1Day Hong Kong 由香港知專設計學院社會設計工作室 (HKDI DESIS Lab) 連同旗下老嘢設計會會員 (DesignAge HK Club) 發起, 並邀請香港市民一同參與，在2016年1月23日於 [創不同] 大會舉行,為我們的城市一起拍動想像的翅膀。</p>

							<p>香港知專設計學院社會設計工作室
								<br /><a href="http://www.hkdi.desislab.vtc.edu.hk/">http://www.hkdi.desislab.vtc.edu.hk/</a>
								<br /><a href="https://www.facebook.com/HKDIDESISLab">https://www.facebook.com/HKDIDESISLab</a>
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<div id="map"></div>

	<section class="projects section">
		<h2>在香港發生的一日一百</h2>

		<div class="container">
			<div class="owl-carousel" id="project_list">
				
			</div>
		</div>
	</section>
	
	<section id="workshop" style="margin-bottom: 100px;">
		<div class="shoutout">
			<div class="inner">
				<div class="text">
					<h3>工作坊</h3>
				</div>
			</div>
		</div>
	</section>

	<section class="people section">

		<div class="container">
			<div class="row" id="workshop_list">
			</div>
		</div>
	</section>
	
	<section id="teammate" style="margin-bottom: 100px;">
		<div class="shoutout">
			<div class="inner">
				<div class="text">
					<h3>團隊</h3>
				</div>
			</div>
		</div>
	</section>

	<section class="people section">
		<div class="container">
			<div class="row" id="committee_list">
			</div>
		</div>
	</section>
	
	<section id="makersmoment" style="margin-bottom: 100px;">
		<div class="shoutout">
			<div class="inner">
				<div class="text">
					<h3>他們的報導</h3>
				</div>
			</div>
		</div>
	</section>

	<section class="people section">
		<div class="container" id="medium_list">
                    
		</div>
	</section>

	<section class="intro section">
		<div class="embed-responsive embed-responsive-16by9 section" style="width: 100%;">
			<iframe class="embed-responsive-item" width="1600" height="900" src="https://www.youtube-nocookie.com/embed/6MSBQ55jxts?rel=0&amp;showinfo=0;&vq=hd720" frameborder="0" allowfullscreen></iframe>
		</div>
	</section>

	<section class="support section">
		<h2>支持組織</h2>
		<div class="support-logo-container" id="support_list">
		</div>
	</section>


	<section class="footer">
		<div class="">
			100In1Day Hong Kong
			<span class="hidden-xs">·</span>
			<br class="hidden-sm hidden-md hidden-lg"> Created by Hong Kong Citizens
		</div>
		<div class="">Website made with <i class="fa fa-heart" style="color: #F44336;"></i> by Elton Lau, Samuel Ting and Collaction Team.</div>

		<div class="">Thanks to <a target="_blank" href="https://www.collaction.hk/">Collaction</a> for providing the domain and hosting for 100In1Day Hong Kong.</div>

		<div class="">
			<a href="https://www.collaction.hk/" class="no_underline" target="_blank"><img title="Incu-Lab-Hong Kong" src="http://100in1day.hk/upload/support/incu-lab.png" height="30px"></a>
			<a href="http://www.incu-lab.org/" class="no_underline" target="_blank"><img title="Collaction" src="http://100in1day.hk/upload/support/Logo_collaction_transparent_horizontal.png" height="60px"></a>
		</div>

		<div class="">
			<a href="https://github.com/100in1day-hk/100in1day-web" target="_blank">Github Project</a> · <a href="https://www.collaction.hk/s/h4s_100in1day" target="_blank">Collaction Project</a>
		</div>

	</section>
</div>
{% endblock %}


{% block body_javascript %}

<script>
	function initMap() {
		var mapDiv = document.getElementById('map');
		var map = new google.maps.Map(mapDiv, {
			center: {
				lat: 44.540,
				lng: -78.546
			},
			zoom: 5,
			scrollwheel: false
		});
		var ctaLayer = new google.maps.KmlLayer({
			url: '{{ app.asset_path }}/other/100in1day.kml',
			map: map
		});
	}
</script>

<script>
	/* $(function () {
		var options = {  
			useEasing: true,
			useGrouping: true,
			separator: ',',
			decimal: '.',
			prefix: '',
			suffix: ''
		};
		var demo = new CountUp("ideaCount", 0, 133, 0, 2.5, options);
		var demo2 = new CountUp("ideaCount2", 0, 33, 0, 2.5, options);
		setTimeout(function () {
			demo.start();
			demo2.start();
		}, 400);
		$('.owl-carousel').owlCarousel({
			loop: true,
			margin: 10,
			nav: true,
			responsive: {
				0: {
					items: 1
				},
				600: {
					items: 3
				},
				1000: {
					items: 5
				}
			},
			autoplay: true,
			autoplayTimeout: 3000,
			autoplayHoverPause: true
		})
	}); */
	
	$(window).load(function() {
		$('.loading-screen').fadeOut(500, function() {
			$('.main').height('auto');
		});		   
	});
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCP_zgQmNpWvsby1y-GyBW5cIFevOJE1KI&signed_in=true&callback=initMap&sensor=false"></script>
	<script src="{{ app.asset_path }}/js/countUp.min.js"></script>
	<script src="{{ app.asset_path }}/js/owl.carousel.js"></script>
<script>
    var SERVER_URL = "{{ app.server_url }}";
    var UPLOAD_URL = "{{ app.upload_path }}";
    var ASSET_URL = "{{ app.asset_path }}";
</script>

<script src="{{ app.asset_path }}/js/100in1day.js"></script>

{% endblock %}
